@font-face {
	font-family: "minecrafter_reg";
	src: url('../fonts/minecrafter_reg.ttf');
}

body{
	font-family: "minecrafter_reg", Helvetica, Arial, sans-serif;
	margin: 0;
	width: 350px;
	height: 250px;
	color: white;
	background-image:url("../img/background.png");
}
#firstWord{
	position: fixed;
	font-size: large;
	top:0px;
	left: 105px;
}
#secondWord{
	position: fixed;
	font-size: large;
	top:20px;
	left: 105px;
}
#thirdWordStatus{
	position: fixed;
	font-size: large;
	bottom:10px;
	left: 105px;
}
#thirdWordStatusLink{
	text-decoration: none;
}
#thisLogo {
	border-radius: 50%;
    position: absolute;
    left: 120px;
    top: 10px;
}